@using noochAdminNew.Classes.ModelClasses
@using noochAdminNew.Classes.Utility
@{
    ViewBag.Title = "Member Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MemberDetailsClass mdc = Model;

    SynapseDetailOFMember synpsDetail = new SynapseDetailOFMember();
    if (mdc.IsSynapseDetailAvailable)
    {
        synpsDetail = mdc.SynapseDetails;
    }
    List<MemberIpAddrreses> MemIpAddr = new List<MemberIpAddrreses>();
    MemIpAddr = mdc.MemberIpAddr;

    List<MemberDetailsTrans> Transactionsss = new List<MemberDetailsTrans>();

    foreach (MemberDetailsTrans mdtt in mdc.Transactions)
    {
        MemberDetailsTrans ms = new MemberDetailsTrans();
        ms.TransID = mdtt.TransID;
        ms.TransactionType = mdtt.TransactionType;
        ms.TransactionStatus = mdtt.TransactionStatus;
        ms.TransDate = mdtt.TransDate;
        ms.TransTime = mdtt.TransTime;
        ms.SenderId = mdtt.SenderId;
        ms.SenderName = mdtt.SenderName;
        ms.AmountNew = mdtt.AmountNew;
        ms.Latitude = mdtt.Latitude;
        ms.Longitude = mdtt.Longitude;
        ms.GeoLocation = mdtt.GeoLocation;
        ms.RecipientId = mdtt.RecipientId;
        ms.RecipientName = mdtt.RecipientName;
        ms.Memo = mdtt.Memo;
        Transactionsss.Add(ms);
    }

    List<MemberDetailsDisputeTrans> DisputeTransactions = Model.DisputeTransactions;
    MemberDetailsStats stats = Model.MemberStats;
}

<link rel="stylesheet" href="../css/plugins/jasny/jasny-bootstrap.min.css" />
<link rel="stylesheet" href="../css/plugins/sweetalert-override.min.css" />

@*Css for toggling button --Surya 21 JAN*@
<script>
    $(document).on('click', '.toggle-button', function () {
        if ($('#pwd').val().length > 0) {
            $('#pwd').val('');
        }
        $(this).toggleClass('toggle-button-selected');
        if ($(this).hasClass('toggle-button-selected')) {
            Member.GenerateNewPassword();
        }

    });
</script>
<style>
    .toggle-button {
        background-color: white;
        margin: 5px 0;
        border-radius: 20px;
        border: 2px solid #D0D0D0;
        height: 24px;
        cursor: pointer;
        width: 50px;
        position: relative;
        display: inline-block;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
    }

        .toggle-button button {
            cursor: pointer;
            outline: 0;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 100%;
            width: 30px;
            height: 30px;
            background-color: white;
            float: left;
            margin: -3px 0 0 -3px;
            border: 2px solid #D0D0D0;
            transition: left 0.3s;
        }

    .toggle-button-selected {
        background-color: #83B152;
        border: 2px solid #7DA652;
    }

        .toggle-button-selected button {
            left: 26px;
            top: 0;
            margin: 0;
            border: none;
            width: 24px;
            height: 24px;
            box-shadow: 0 0 4px rgba(0,0,0,0.1);
        }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@mdc.FirstName @mdc.LastName | <small>@mdc.Nooch_ID</small></h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Admin/Dashboard">Dashboard</a>
            </li>
            <li>
                @{
                    if (mdc.type == "Landlord")
                    {
                        <a href="ListAllLandlords">Landlords</a>
                    }
                    else if (mdc.type == "Tenant")
                    {
                        <a href="ListAllTenants">Tenants</a>
                    }
                    else
                    {
                        <a href="ListAll">Members</a>
                    }
                }
            </li>
            <li class="active">
                <strong>Search Admin</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="memberDetail">

    <div class="row" id="memDetailsTopSec">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        @{
                            if (mdc.type == "Landlord")
                            {
                                <span>Landlord </span>
                            }
                            else if (mdc.type == "Tenant")
                            {
                                <span>TENANT </span>
                            }
                            else
                            {
                                <span>MEMBER </span>
                            }
                        }
                        Details | <small>@mdc.FirstName @mdc.LastName</small>
                    </h5>
                    <span class="pull-right">@mdc.memberId</span>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-xs-12 col-md-4 m-b">
                            <div class="form-group">
                                <span class="col-xs-3 col-sm-4 col-md-5 control-label p-l-0">
                                    <img src="@mdc.ImageURL" class="img-circle" alt="image">
                                </span>
                                <div class="col-xs-9 col-sm-8 col-md-7 nopad">
                                    <h2>@mdc.FirstName @mdc.LastName</h2>
                                    <span class="help-block">Registered:<span class="text-bold">@mdc.DateCreatedFormatted</span> </span>
                                    <span class="help-block">
                                        Status:  @{
                                            if (mdc.Status == "Suspended" || mdc.Status == "Temporarily_Blocked")
                                            {
                                                <span class="label label-danger"><strong>Suspended</strong></span>
                                            }
                                            else if (mdc.Status == "Registered")
                                            {
                                                <span class="label label-info">Registered</span>
                                            }
                                            else if (mdc.Status == "Active")
                                            {
                                                <span class="text-navy">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">@mdc.Status</span>
                                            }
                                        }
                                    </span>
                                    <span class="help-block">
                                        Phone Verified:@{
                                            if (mdc.IsPhoneVerified == true)
                                            {
                                                <span class="label label-success">Verified</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">Not Verified</span>
                                            }
                                        }
                                    </span>
                                    <span class="help-block">
                                        Facebook:  @{
                                            if (mdc.FBID == null || mdc.FBID == "")
                                            {
                                                <span class="text-danger">FB Not Linked</span>
                                            }
                                            else
                                            {
                                                <a href="https://www.facebook.com/@mdc.FBID" class="text-navy" target="_blank">FBID</a>
                                            }
                                        }
                                    </span>
                                    @if (!String.IsNullOrEmpty(mdc.ReferCodeUsed))
                                    {
                                        <span class="help-block m-b-none">Refer Code Used:<a href="../Referrals/JoinningsWithGivenReferralCode?RefCode=@mdc.ReferCodeUsed" class="text-navy">@mdc.ReferCodeUsed.ToUpper()</a></span>
                                    }
                                    else
                                    {
                                        <span class="help-block m-b-none">Refer Code Used: <em>None</em></span>
                                    }
                                </div>
                            </div>
                        </div>

                        <!-- Transfer Activity -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="ibox float-e-margins" style="margin-bottom:5px;">
                                <div class="ibox-title">
                                    <h5>Transfer Activity</h5>
                                </div>
                                <div class="ibox-content text-center">
                                    <div class="row">
                                        <div class="col-xs-5 col-xs-offset-1">
                                            <small class="stats-label">Total Transfers</small>
                                            <h4>@stats.TotalTransfer</h4>
                                        </div>

                                        <div class="col-xs-5">
                                            <small class="stats-label">Transfers / Wk</small>
                                            @if (mdc.WeeksSinceJoined > 0 && mdc.MemberStats.TotalTransfer != "0")
                                            {
                                                double d = (Convert.ToDouble(mdc.MemberStats.TotalTransfer)) / mdc.WeeksSinceJoined;
                                                string transPerWeek = string.Format("{0:0.00}", d);
                                                <h4>@transPerWeek</h4>
                                            }
                                            else
                                            {<h4>-</h4>}
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content text-center">
                                    <div class="row">

                                        <div class="col-xs-4">
                                            <small class="stats-label">Sent</small>
                                            <h4>$ @stats.TotalSent</h4>
                                        </div>
                                        <div class="col-xs-4">
                                            <small class="stats-label">Received</small>
                                            <h4>$ @stats.TotalReceived</h4>
                                        </div>
                                        <div class="col-xs-4">
                                            <small class="stats-label">Largest Sent</small>
                                            <h4>
                                                @if (stats.LargestSent != "0.00")
                                                {
                                                    <span>$ @stats.LargestSent</span>
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </h4>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Member Ip Address-->
                        <div class="col-xs-12 col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <ul class="nav nav-tabs small">
                                        <li class="active"><a data-toggle="tab" href="#tab-a"><i class="fa fa-fw fa-crosshairs m-r-xs"></i> IP Addresses</a></li>
                                        <li class=""><a data-toggle="tab" href="#tab-b"><i class="fa fa-fw fa-map-marker m-r-xs"></i> Location</a></li>
                                    </ul>
                                </div>

                                <div class="ibox-content">
                                    <div class="tab-content ">

                                        <div id="tab-a" class="tab-pane fade active in">
                                            @{
                                                if (MemIpAddr.Count > 0)
                                                {
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Ip Address</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (MemberIpAddrreses mn in MemIpAddr)
                                                            {
                                                                <tr>
                                                                    <td>@mn.IpAddress</td>
                                                                    <td>@mn.Date</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                                else
                                                {
                                                    <p class="text-danger text-center m-t-md"> There are no IP Addresses for<em>@mdc.FirstName @mdc.LastName</em> </p>
                                                }
                                            }
                                        </div>

                                        <div id="tab-b" class="tab-pane fade">
                                            @{
                                                <div id="userLoc" data-lat="@mdc.lastlat" data-long="@mdc.lastlong">
                                                    <div id="userMap"></div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-xs 12 col-sm-6 col-md-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Referred Users</h5>

                                           <div class="ibox-tools">
                                               <a class="collapse-link">
                                                   <i class="fa fa-chevron-up"></i>
                                               </a>
                                           </div>

                                </div>
                                <div class="ibox-content no-padding">

                                    <ul class="list-group list-group-condensed">
                                        @*if (mdc.Referrals.Count > 0)
                                            {

                                                foreach (ReferredMembers memref in mdc.Referrals)
                                                {
                                                <li class="list-group-item">
                                                    <span class="memDetails_ReferredFriendIcon">
                                                        <img src="@memref.ImageUrl" class="img-circle" alt="image"/>
                                                    </span>
                                                    @memref.MemberName.First().ToString().ToUpper()@memref.MemberName.Substring(1)
                                                </li>
                                                }

                                            }
                                            else
                                            {
                                                <li class="list-group-item">No Referrals
                                                </li>
                                            }*@
                                    </ul>
                                </div>
                            </div>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabs-container">

        <div class="tabs-container">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-fw fa-user m-r-sm"></i> Profile Info</a></li>
                @{
                    if (mdc.type == "Tenant")
                    {
                        <li><a data-toggle="tab" href="#tab-1a"><i class="fa fa-fw fa-user m-r-sm"></i> Tenant Info</a></li>
                    }
                }
                <li><a data-toggle="tab" href="#tab-2"><i class="fa fa-fw fa-bank m-r-sm"></i> Banks</a></li>
                <li><a data-toggle="tab" href="#tab-3"><i class="fa fa-fw fa-wrench m-r-sm"></i> Admin Actions</a></li>
                <li><a data-toggle="tab" href="#tab-4"><i class="fa fa-fw fa-exchange m-r-sm"></i> Recent Transactions</a></li>
                <li><a data-toggle="tab" href="#tab-5"><i class="fa fa-fw fa-exclamation-circle m-r-sm"></i> Disputes</a></li>
            </ul>

            <div class="tab-content ">

                <div id="tab-1" class="tab-pane fade active in">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Contact Info</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <form class="form-horizontal" method="post">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Contact Number</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                                                                <input type="tel" placeholder="(XXX) XXX-XXXX" id="contactNumber" class="form-control" data-mask="(999) 999-9999" value="@mdc.ContactNumber">
                                                            </div>
                                                            @{
                                                                if (mdc.IsPhoneVerified == true)
                                                                {
                                                                    <i class="fa fa-check text-success"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-remove text-danger"></i>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Primary Email</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                                                                <input type="email" disabled="" value="@mdc.UserName" class="form-control">
                                                            </div>
                                                            @{
                                                                if (mdc.Status != "Suspended")
                                                                {
                                                                    <i class="fa fa-check text-success"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="fa fa-remove text-danger"></i>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Street Address</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-road"></i></span>
                                                                <input type="text" value="@mdc.Address" class="form-control" id="streetaddress">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Secondary Email</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></span>
                                                                @if (!String.IsNullOrEmpty(mdc.SecondaryEmail.Trim()) && mdc.SecondaryEmail != " " && mdc.SecondaryEmail != "")
                                                                {
                                                                    <input type="email" value="@mdc.SecondaryEmail" class="form-control" id="secondaryemail1">
                                                                }
                                                                else
                                                                {
                                                                    <input type="email" class="form-control" id="secondaryemail2">
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>City</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-map-marker"></i></span>
                                                                <input type="text" value="@mdc.City" class="form-control" id="city">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Recovery Email</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></span>
                                                                <input type="email" class="form-control" id="recoveryemail" value="@mdc.RecoveryEmail">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>State</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <div class="col-xs-4" style="padding-left: 0;">
                                                                <input type="text" value="@mdc.State" class="form-control" id="stateinput">
                                                            </div>
                                                            <div class="col-xs-8" style="padding-left: 10px; ">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">ZIP</span>
                                                                    <input type="text" value="@mdc.Zipcode" class="form-control" id="zipcodeinput" data-mask="99999">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>UDID</b><br /><small>(Fingerprint)</small>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <p class="form-control-static" style="word-wrap:break-word;">@mdc.UDID1</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Date of Birth</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-5">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></span>
                                                                <input type="text" value="@mdc.dob" class="form-control" id="dobinput" data-mask="99/99/9999">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Device Token</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <p class="form-control-static" style="word-wrap:break-word;">@mdc.DeviceToken</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>SSN </b><br /><small>Last 4</small>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-5">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-male"></i></span>
                                                                <input type="text" value="@mdc.ssn" class="form-control" id="ssninput" data-mask="9999">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Access Token</b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <p class="form-control-static" style="word-wrap: break-word;">@mdc.AccessToken</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b>Transfer Limit </b><br />
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-5">
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-fw fa-usd"></i></span>
                                                                <input type="text" value="@mdc.TransferLimit" class="form-control" id="transferLimitinput" data-mask="9999.99">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                            <b></b>
                                                        </span>
                                                        <div class="col-xs-9 col-sm-8 col-lg-7">
                                                            <p class="form-control-static" style="word-wrap:break-word;"></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row">
                                                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 m-t-sm">
                                                    <a class="btn btn-danger btn-lg center-block" onclick="Member.EditMember()"><i class="fa fa-save"></i> Save Changes</a>
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                @{
                    if (mdc.type == "Tenant")
                    {
                        <div id="tab-1a" class="tab-pane fade">
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="ibox">
                                            <div class="ibox-title">
                                                <h5>Tenant & Unit Info</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <form class="form-horizontal" method="get">

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Property</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-fw fa-building"></i></span>
                                                                        <input type="text" id="property" class="form-control" value="@mdc.ContactNumber">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Status</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <p class="form-control-static">@mdc.UserName</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Unit</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-fw fa-home"></i></span>
                                                                        <input type="text" value="@mdc.Address" class="form-control" id="unitNum">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Last Payment</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    @if (!String.IsNullOrEmpty(mdc.SecondaryEmail.Trim()))
                                                                    {
                                                                        <p id="lastPayment" class="form-control-static">@mdc.SecondaryEmail</p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p id="lastPayment" class="form-control-static">@mdc.SecondaryEmail</p>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Rent</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon"><i class="fa fa-fw fa-usd"></i></span>
                                                                        <input type="text" value="@mdc.City" class="form-control" id="rentAmount">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Auto Pay</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <input type="checkbox" class="form-control" id="autoPay">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Due On</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <p class="form-control-static" id="dueOn">@mdc.State</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Admin Notes</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <p class="form-control-static" style="word-wrap:break-word;">@mdc.UDID1</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <span class="col-xs-3 col-sm-4 col-lg-5 control-label">
                                                                    <b>Lease Length</b>
                                                                </span>
                                                                <div class="col-xs-9 col-sm-8 col-lg-7">
                                                                    <p class="form-control-static" id="leaseLength">@mdc.State</p>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 m-t-md">
                                                            <a class="btn btn-danger btn-lg center-block" onclick="Member.EditMember()"><i class="fa fa-save"></i> Save Changes</a>
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }

                <div id="tab-2" class="tab-pane fade">
                    <div class="panel-body">
                        <div class="row">

                            <!-- SYNAPSE BANK INFO -->
                            <div class="col-sm-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Synapse Details</h5>
                                        <img class="" src="~/img/synapse_sm.png" />
                                        <span class="pull-right hidden-xs">IsVerifiedWithSynapse: &nbsp;<strong>@mdc.IsVerifiedWithSynapse</strong></span>
                                    </div>
                                    <div class="ibox-content">
                                        <form class="form-horizontal">

                                            <div class="row">

                                                @if (mdc.IsSynapseDetailAvailable)
                                                {
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Bank Name</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p class="f-600"> @synpsDetail.SynapseBankName </p>
                                                                <p> @synpsDetail.SynapseBankNickName </p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Synapse User ID</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p>@synpsDetail.synapseUserId</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }

                                                <div class="col-md-6">

                                                    <div class="form-group">
                                                        <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                            <b>Status</b>
                                                        </span>
                                                        <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                            @if (mdc.IsSynapseDetailAvailable)
                                                            {
                                                                <div id="bankAccountStatusDiv">

                                                                    @if (synpsDetail.SynapseBankStatus == "Verified")
                                                                    {
                                                                        <p style="margin-bottom:5px;">
                                                                            <span class="text-success" style="display: inline-block"> @synpsDetail.SynapseBankStatus </span>
                                                                            <button type="button" class="btn btn-link" onclick="Member.UnVerifyBankAccount(); "><i class="fa fa-close text-danger"></i>Un-Verify</button>
                                                                        </p>
                                                                        <p><small>Verified On:&nbsp; @synpsDetail.SynpaseBankVerifiedOn</small></p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>
                                                                            <span class="text-danger" style="display: inline-block"> @synpsDetail.SynapseBankStatus </span>
                                                                            <button type="button" class="btn btn-link" onclick="Member.VerifyBankAccount(); "><i class="fa fa-check"></i>Verify</button>
                                                                        </p>
                                                                    }
                                                                    <input type="hidden" id="bnkIdHidden" value="@synpsDetail.BankId" />
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-sm-8">
                                                                    <span class="text-danger">No Synapse Bank Linked</span>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    @if (mdc.IsSynapseDetailAvailable)
                                                    {
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>MFA Verified</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p>@synpsDetail.mfaVerified</p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>

                                            </div>

                                            @if (mdc.IsSynapseDetailAvailable)
                                            {
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Account Holder</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p class="f-600">@synpsDetail.nameFromSynapseBank </p>
                                                                <p><i class="fa fa-fw fa-envelope m-r-sm f-13"></i> @synpsDetail.emailFromSynapseBank </p>
                                                                <p><i class="fa fa-fw fa-mobile-phone m-r-xs f-19"></i> @synpsDetail.phoneFromSynapseBank </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Bank ID</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p>@synpsDetail.synapseBankId</p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Added On</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p> @synpsDetail.SynpaseBankAddedOn</p>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group m-b-none">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>IsVerifiedWithSynapse</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p><strong>@mdc.IsVerifiedWithSynapse</strong></p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group m-b-none">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Xtra Verification?</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p>YES or NOT NEEDED</p>
                                                                <p><small>Question Set ID:&nbsp; </small></p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>User Responses Submitted?</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p>YES or NO</p>
                                                                <p><small>Submitted On:&nbsp; </small></p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">

                                                        <div class="form-group m-b-none">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>OAuth Token</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <a href="javascript:Member.getSynapseInfo();" id="synAuthKey" style="word-wrap:break-word;">@synpsDetail.synapseConsumerKey</a>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>Refresh Token</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                <p>@synpsDetail.synapseRefreshKey</p>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-sm-5 col-lg-6 control-label">
                                                                <b>ID Doc</b>
                                                            </span>
                                                            <div class="col-xs-8 col-sm-7 col-lg-6 form-control-static">
                                                                @if (mdc.idDocUrl != null)
                                                                {
                                                                    <a href="#" id="idDocLnk"><img src="@mdc.idDocUrl" class="idDocImg" /></a>
                                                                }
                                                                else
                                                                {
                                                                    <p>No doc submitted</p>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            }

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="tab-3" class="tab-pane fade">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Other Admin Functions</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <form class="form-horizontal">

                                            <div class="col-xs-12">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-lg-3 control-label">
                                                                <b>Change Member Status</b>
                                                            </span>
                                                            <div class="col-xs-5 col-sm-4 form-control-static">
                                                                <p style="margin-bottom: 0;">
                                                                    @{
                                                                        if (mdc.Status == "Registered")
                                                                        {
                                                                            <a href="#" class="btn btn-sm btn-default" onclick="Member.ApplyChoosenOperation(4) ">Verify Email</a>
                                                                        }

                                                                        if (!mdc.IsPhoneVerified && mdc.ContactNumber != null)
                                                                        {
                                                                            <a href="#" class="btn btn-sm btn-primary" onclick="Member.ApplyChoosenOperation(3) "> Verify Phone</a>
                                                                        }

                                                                        if (mdc.Status == "Active")
                                                                        {
                                                                            <a href="#" class="btn btn-sm btn-danger" onclick="Member.ApplyChoosenOperation(1) ">Suspend</a>
                                                                        }

                                                                        if (mdc.Status == "Suspended" || mdc.Status == "Temporarily_Blocked")
                                                                        {
                                                                            <a href="#" class="btn btn-sm btn-primary" onclick="Member.ApplyChoosenOperation(4)">Activate (Un-Suspend)</a>
                                                                        }
                                                                    }
                                                                    @*<a href="#" class="btn btn-warning btn-rounded">Warning</a>*@
                                                                    @*<a href="#" class="btn btn-danger btn-rounded">Block</a>*@

                                                                </p>
                                                            </div>

                                                            <div class="col-xs-3 col-lg-2 form-control-static">
                                                                <a href="#" id="DeleteUser" class="btn btn-sm btn-default  btn-danger">Delete User</a>
                                                            </div>

                                                            <div class="col-xs-3 col-lg-2 form-control-static">
                                                                <a href="#" id="ChangePassword" class="btn btn-sm btn-info">Change Password</a>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-lg-3 control-label">
                                                                <b>SDN Status</b>
                                                            </span>
                                                            <div class="col-xs-4 col-lg-4 form-control-static">
                                                                <a href="#" id="MarkSDNSafeUser" class="btn btn-sm btn-default" onclick=" Member.ApplyChoosenOperation(2) ">Mark SDN Safe</a>
                                                            </div>
                                                            @if (!mdc.IsPhoneVerified && mdc.ContactNumber != null)
                                                            {
                                                                <div class="col-xs-3 col-lg-4 form-control-static">
                                                                    <a href="#" id="SmsReminder" class="btn btn-sm btn-primary" onclick="Member.sendSmsReminder()">Resend phone verification SMS</a>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-lg-3 control-label">
                                                                <b>PIN</b>
                                                            </span>
                                                            <div class="col-xs-8 col-lg-8 form-control-static">
                                                                <p style="margin-bottom: 0; max-width: 116px;">
                                                                    <span class="text-navy font-bold" id="pinNumber">@mdc.PinNumber</span>
                                                                    <button type="button" class="btn btn-link btn-xs pull-right" onclick="Member.ResetPin();">Reset PIN</button>
                                                                </p>
                                                            </div>
                                                                                                                          
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <span class="col-xs-4 col-lg-3 control-label">
                                                                <b>Admin Note</b>
                                                            </span>
                                                            <div class="col-xs-8 col-lg-9 form-control-static">
                                                                @if (mdc.adminNote != null)
                                                                {
                                                                    <p>@mdc.adminNote</p>
                                                                    <a href="#" class="btn btn-sm btn-default" onclick="Member.OpenPopupForAdminNote();">Edit Note</a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#" class="btn btn-sm btn-default" onclick="Member.OpenPopupForAdminNote();">Add Note</a>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="tab-4" class="tab-pane fade">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Recent Transactions</h5>
                                    </div>
                                    <div class="ibox-content">
                                        @{
                                            if (Transactionsss.Count > 0)
                                            {
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Trans ID</th>
                                                            <th>Type</th>
                                                            <th>Status</th>
                                                            <th>Date / Time</th>
                                                            <th>Sender</th>
                                                            <th>Amount</th>
                                                            <th>Recipient</th>
                                                            <th>Memo</th>
                                                            <th>Location</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (MemberDetailsTrans mn in Transactionsss)
                                                        {
                                                            <tr>
                                                                <td>@mn.TransID</td>
                                                                <td>@mn.TransactionType</td>
                                                                <td>
                                                                    @{
                                                            if (@mn.TransactionStatus == "Rejected" || @mn.TransactionStatus == "Cancelled")
                                                            {
                                                                <b class="text-danger">@mn.TransactionStatus</b>
                                                            }
                                                            else if (@mn.TransactionStatus == "Success")
                                                            {
                                                                <b class="text-success">Success</b>
                                                            }
                                                            else if (@mn.TransactionStatus == "Pending")
                                                            {
                                                                <b class="text-primary">Pending</b>
                                                            }
                                                            else
                                                            {
                                                                @mn.TransactionStatus
                                                            }
                                                                    }
                                                                </td>
                                                                <td>@mn.TransDate<br /><small>@mn.TransTime</small></td>
                                                                <td><a href="@Url.Action("Detail", "Member", new { NoochId = @mn.SenderId })">@mn.SenderName</a></td>
                                                                <td>
                                                                    @if (mn.AmountNew != "0")
                                                                    {
                                                                        double d = (Convert.ToDouble(mn.AmountNew));
                                                                        string transAmountFormatted = string.Format("{0:0.00}", d);
                                                                        <h4>$ @transAmountFormatted</h4>
                                                                    }
                                                                </td>
                                                                <td><a href="@Url.Action("Detail", "Member", new { NoochId = @mn.RecipientId })">@mn.RecipientName</a></td>
                                                                <td>@mn.Memo</td>
                                                                @if (!String.IsNullOrEmpty(@mn.GeoLocation))
                                                                {
                                                                    <td><button class="btn btn-link locLink" data-lat="@mn.Latitude" data-long="@mn.Longitude" data-loctext="@mn.GeoLocation.Trim().TrimEnd(',').Trim()">@mn.GeoLocation.Trim().TrimEnd(',').Trim()</button></td>
                                                                }
                                                                else
                                                                {
                                                                    <td><span class="text-muted"> - </span></td>
                                                                }
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <p class="text-danger text-center"><em>@mdc.FirstName @mdc.LastName</em> has not made any payments yet.</p>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="tab-5" class="tab-pane fade">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Disputed Transactions</h5>
                                    </div>
                                    <div class="ibox-content">
                                        @{
                                            if (DisputeTransactions.Count > 0)
                                            {
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Status</th>
                                                            <th>Dispute ID</th>
                                                            <th>Subject</th>
                                                            <th>Admin Notes</th>
                                                            <th>Dispute Date</th>
                                                            <th>Review Date</th>
                                                            <th>Resolved Date</th>
                                                            <th>Transaction Id</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (MemberDetailsDisputeTrans m in DisputeTransactions)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @{
                                                            if (@m.Status == "Resolved")
                                                            {
                                                                <b class="text-success">@m.Status</b>
                                                            }
                                                            else
                                                            {
                                                                <b class="text-danger">@m.Status</b>
                                                            }
                                                                    }
                                                                </td>
                                                                <td>@m.Dispute_ID</td>
                                                                <td>@m.Subject</td>
                                                                <td>@m.Admin_Notes</td>
                                                                <td>@m.Dispute_Date</td>
                                                                <td>@m.Review_Date</td>
                                                                <td>@m.Resolved_Date</td>
                                                                <td>@m.Transaction_ID</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <p class="text-danger text-center">There are no Disputed Transactions for <em>@mdc.FirstName @mdc.LastName</em>.</p>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="modal-transferLocation" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-map-marker pull-left"></span>Transfer Location</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:14px;text-align:center; margin-bottom:5px;">This transfer was sent from: <strong><span id="citystate"></span></strong>.</p>
                <iframe width="100%" id="googleFrame"
                        height="420"
                        frameborder="0"
                        style="border:0;margin:10px auto 0;"
                        src=''></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-userLocation" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-map-marker pull-left"></span>User Location</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:16px;font-weight:600;text-align:center; margin-bottom:12px;">This user's last location was:</p>
                <div id="userMapInModal"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal-AdminNotes" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <input type="hidden" id="DisputeId" value="">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-pencil-square-o pull-left"></span>Add Note</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <span class="col-sm-3 control-label"><b>Admin Notes</b></span>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" id="AmdinNotesAboutUser"></textarea>
                                <p><small>Provide some important fact or info about a user .</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" id="btnSaveAdminNoteForUser" onclick="Member.AdminNoteForUser();" class="btn btn-primary">Save Note</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Delete  -->
<div id="myModalConfirmDelete" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-times pull-left"></span>Delete This User?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Nooch Member?</p>
            </div>
            <div class="modal-footer">
                <button id="btnYes" class="btn btn-danger" onclick="Member.ApplyChoosenOperation(5)">Yes - Delete</button>
                <button data-dismiss="modal" class="btn btn-primary">No - Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--change password $ toggel button Surya 21 Jan 16 -->
<div id="myModalchangePwd" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Password ?</h4>
            </div>
            <form method="get" id="someName">
                <div class="modal-body">
                    <p>Update Password! <input type="text" id="pwd" required><br><br><p>Generate Password</p>
                    <div class="toggle-button" id="toggle-button-selected">
                        <button id="btnToggle"></button>

                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnChangePassword" class="btn btn-danger" type="submit" onclick="Member.ChangePassword()">Yes - Update</button>
                    <button data-dismiss="modal" class="btn btn-primary">No - Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- update password-->
@*<div id="myModalUpdatePassword" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-times pull-left"></span>Update Password?</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="txtChangePassword" />
            </div>
            <div class="modal-footer">
                <button id="btnUpdatePassword" class="btn btn-danger" onclick="Member.updatePassword(this)">Yes - Update</button>
                <button data-dismiss="modal" class="btn btn-primary">No - Cancel</button>
            </div>
        </div>
    </div>
</div>*@
<!-- View ID Doc  -->
<div id="idDocModal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="fa fa-user pull-left"></span>ID Document</h4>
            </div>
            <div class="modal-body">
                <img id="idImageBig" class="center-block" src="" />
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-white">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/plugins/sweetalert.min.js"></script>
<script src="~/Scripts/App/MemberDetail.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBejM5FqN8AVj_JbZvCYCjoGwrmB7R-rT0&callback=checkIfUserLocationExists">
</script>

<!-- Input Mask-->
<script src="../js/plugins/jasny/jasny-bootstrap.min.js"></script>
<script>
    window.paceOptions = {
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
        }
    };
</script>