@using noochAdminNew.Classes.ModelClasses;
@{
    ViewBag.Title = "ListAllTenants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Data Tables CSS -->
<link href="~/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Nooch Tenants</h2>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-12" id="memListAllTableDiv">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>All Nooch Tenant Members</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        @* <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>*@
                    </div>
                </div>

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-xs-9 col-sm-3 m-b-xs">
                            <select class="input-sm form-control input-s-sm inline" id="opMaster">
                                <option value="0"> -- Select Action -- </option>
                                <option value="1"> Suspend Users </option>
                                <option value="2"> Mark SDN Safe </option>
                                <option value="3"> Verify Phone </option>
                                <option value="4"> Activate Users </option>
                                <option value="5"> Delete Users </option>
                            </select>
                        </div>
                        @* <div class="col-sm-4 m-b-xs">
                              <div class="btn-group" data-toggle="buttons">
                                          <label class="btn btn-sm btn-white active"> <input type="radio" name="options" id="option1"> Day </label>
                                          <label class="btn btn-sm btn-white"> <input type="radio" name="options" id="option2"> Week </label>
                                          <label class="btn btn-sm btn-white"> <input type="radio" name="options" id="option3"> Month </label>
                                      </div>
                            </div>*@
                        <div class="col-xs-3" id="memListAll_ApplyChg">
                            <div class="input-group">
                                @*<input type="text" class="input-sm form-control" placeholder="Search"> *@
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" type="button" onclick="Member.ApplyChoosenOperation();">Apply Changes</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="AllMembers">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="selecctall" name="chkMaster">
                                </th>
                                <th>Nooch ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                                <th>Contact #</th>
                                <th>Joined On</th>
                                <th>Status</th>
                                <th>City</th>
                                <th>Total Transactions</th>
                                <th>Total $ Sent</th>
                            </tr>
                        </thead>

                        <tbody id="TBOdy">

                            @foreach (MembersListDataClass M in Model)
                            {
                                <tr class="gradeX">
                                    <td><input type="checkbox" class="checkbox1" name="chk" value="@M.Nooch_ID" onclick="chkboxClick(this)"></td>
                                    <td><a href="@Url.Action("Detail", "Member", new { NoochId=@M.Nooch_ID} )">@M.Nooch_ID</a></td>
                                    <td>@M.FirstName</td>
                                    <td>@M.LastName</td>
                                    <td>@M.UserName</td>
                                    <td>
                                        @M.ContactNumber<br />
                                    @{
                                if (M.IsVerifiedPhone == true)
                                {
                                    <span class="small text-success">Verified</span>
                                }
                                else if (M.ContactNumber != null)
                                {
                                    <span class="small text-danger">Not Verified</span>
                                }
                                    }
                                </td>
                                <td>@M.DateCreated.ToString("dd MMM yyyy")</td>
                                <td>@M.Status</td>
                                <td>@M.City</td>
                                <td>@M.TotalTransactions</td>
                                <td>@M.TotalAmountSent</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Users Over Time</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="rickshaw_bars" class="rickshaw_graph"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Stacked Bars</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="rickshaw_bars_stacked" class="rickshaw_graph"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Chart Title</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <div id="rickshaw_bars_stacked" class="rickshaw_graph"></div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Data Tables JS-->
<script src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="~/js/plugins/dataTables/dataTables.tableTools.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/Scripts/App/Utility.js"></script>
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Scripts/App/MembersList.js"></script>


<script type="text/ecmascript">
    $(document).ready(function () {
        $("#MemberMenuExpander").trigger("click");

        $('#ListAllMembersMenu').addClass('active');

        $('#AllMembers').dataTable({
            responsive: true,
            "order": [[6,'desc'], [7,'asc'], [3,'asc'], [2,'asc']],
            "dom": 'T<"clear">lfrtip',
            "tableTools": {
                "sSwfPath": "../js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            },
            "columnDefs": [
                   { "orderable": false, "targets": [ 0,5 ] }
            ]
        });
    });
</script>

<script>
    window.paceOptions = {
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
        }
    };
</script>

<style>
    body.DTTT_Print {
        background: #fff;
    }

    .DTTT_Print #page-wrapper {
        margin: 0;
        background: #fff;
    }

    button.DTTT_button, div.DTTT_button, a.DTTT_button {
        border: 1px solid #e7eaec;
        background: #fff;
        color: #676a6c;
        box-shadow: none;
        padding: 6px 8px;
    }

        button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
            border: 1px solid #d2d2d2;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }

    .dataTables_filter label {
        margin-right: 5px;
    }
</style>
