@using noochAdminNew.Classes.ModelClasses;
@using noochAdminNew.Classes.ResponseClasses
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<MembersListRefCodeUsedDataClass> allrecentreferrals = ViewBag.RecentReffarals;

    List<ReferralsResultClass> allTopreferringMembers = ViewBag.TopReferringMembers;
    List<ReferralsResultClass> TopReferringMembersWeekly = ViewBag.TopReferringMembersWeekly;
    List<ReferralsResultClass> TopReferringMembersDay = ViewBag.TopReferringMembersDay;
}

<link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
<link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<!-- Custom and plugin javascript -->
<script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Referral Manager</h2>
        <ol class="breadcrumb">
            <li>
                <a href="../Admin/Dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>Referrals</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="refPage">

    <div class="row">

        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Most Recent <span class="small">| Last 5 signups that used a Referral Code</span></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Code Used</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i2 = 0;
                                foreach (MembersListRefCodeUsedDataClass c in allrecentreferrals)
                                {
                                    i2++;
                                    <tr>
                                        <td>@i2</td>
                                        <td><a href="@Url.Action("Detail", "Member", new { NoochId = @c.NoochId })">@c.Name</a></td>
                                        <td><a href="@Url.Action("JoinningsWithGivenReferralCode", "Referrals", new { RefCode = @c.CodeUsed})">@c.CodeUsed</a></td>
                                        <td>@c.DateUsed</td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Top Referring Users</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <ul class="nav nav-tabs">
                        <li class=""><a data-toggle="tab" href="#tab-1" aria-expanded="true">Month</a></li>
                        <li class="active"><a data-toggle="tab" href="#tab-2" aria-expanded="false">Week</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Day</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <table class="table table-striped" id="referralTable1" style="margin-top: 0 !important;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Ref Code</th>
                                        <th>Shares</th>
                                        <th>Referrals</th>
                                        <th>Earned</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int i3 = 0;
                                        foreach (ReferralsResultClass c in allTopreferringMembers)
                                        {
                                            i3++;
                                            <tr>
                                                <td>@i3</td>
                                                <td><a href="@Url.Action("Detail", "Member", new { NoochId = @c.NoochId })">@c.MemberName</a></td>
                                                <td><a href="@Url.Action("JoinningsWithGivenReferralCode", "Referrals", new { RefCode = @c.RefCode })">@c.RefCode</a></td>
                                                <td>1</td>
                                                <td>@c.ReferralsCount</td>
                                                <td class="text-success">$ 9.00 </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <table class="table table-striped" id="referralTable2" style="margin-top: 0 !important;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Ref Code</th>
                                        <th>Shares</th>
                                        <th>Referrals</th>
                                        <th>Earned</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                    int i34 = 0;
                                    foreach (ReferralsResultClass c in TopReferringMembersWeekly)
                                    {
                                        i34++;
                                        <tr>
                                            <td>@i34</td>
                                            <td><a href="@Url.Action("Detail", "Member", new {NoochId = @c.NoochId})">@c.MemberName</a></td>
                                            <td><a href="@Url.Action("JoinningsWithGivenReferralCode", "Referrals", new {RefCode = @c.RefCode})">@c.RefCode</a></td>
                                            <td>1</td>
                                            <td>@c.ReferralsCount</td>
                                            <td class="text-success">$ 9.00 </td>
                                        </tr>

                                    }
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div id="tab-3" class="tab-pane">
                            <table class="table table-striped" id="referralTable3" style="margin-top: 0 !important;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Ref Code</th>
                                        <th>Shares</th>
                                        <th>Referrals</th>
                                        <th>Earned</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        int i345 = 0;
                                        foreach (ReferralsResultClass c in TopReferringMembersDay)
                                        {
                                            i345++;
                                            <tr>
                                                <td>@i345</td>
                                                <td><a href="@Url.Action("Detail", "Member", new { NoochId = @c.NoochId })">@c.MemberName</a></td>
                                                <td><a href="@Url.Action("JoinningsWithGivenReferralCode", "Referrals", new { RefCode = @c.RefCode})">@c.RefCode</a></td>
                                                <td>1</td>
                                                <td>@c.ReferralsCount</td>
                                                <td class="text-success">$ 9.00 </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-3 col-lg-2">
            <button class="btn btn-lg btn-primary btn-block dim" data-toggle="modal" data-target="#addCodeModal" id="modalshowbutton">
                <div>
                    <i class="fa fa-plus fa-4x"></i>
                    <h1 class="m-sm">Add</h1>
                    <h3 class="font-bold no-margins">Code</h3>
                </div>
            </button>
        </div>

        <div class="col-xs-12 col-md-9 col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>All Referral Codes </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered" id="referralTable_allCodes" style="margin-top: 0 !important;">
                        <thead>
                        <tr>
                            <th>Invite Code ID</th>
                            <th>Code</th>
                            <th>Times Used</th>
                            <th>Total Uses Allowed</th>
                            <th>Admin Notes</th>
                            <th>Created On</th>
                            <th>Created By</th>
                        </tr>
                        </thead>
                        <tbody>

                        @{ int i = 0;}
                        @foreach (InviteCodeDataClass c in Model)
                        {
                            i++;
                            <tr>
                                <td> <a href="#"  onclick='showEditpopup("@c.code","@c.totalallowed","@c.adminnotes");return false;'> @c.InviteCode_Id</a></td>
                                <td><a href="@Url.Action("JoinningsWithGivenReferralCode", "Referrals", new {RefCode = @c.code})">@c.code</a></td>
                                <td>@c.count</td>
                                <td>@c.totalallowed</td>
                                <td>@c.adminnotes</td>
                                <td>@c.DateCreated</td>
                                <td>@c.createdbyadmin_name</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="addCodeModal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 480px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Code</h4>
            </div>
            <div class="modal-body" style="pdding: 15px 12px 10px;">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="newCode" class="col-sm-4 control-label">Code</label>
                        <div class="col-sm-8">
                            <input type="text" placeholder="Enter Code" class="form-control" id="newCode" maxlength="8">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="allowedUses" class="col-sm-4 control-label">Allowed Uses</label>
                        <div class="col-sm-8">
                            <input type="number" placeholder="E.g. 20" class="form-control" id="allowedUses" max="100" min="5" maxlength="3">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newCodeNotes" class="col-sm-4 control-label">Notes</label>
                        <div class="col-sm-8">
                            <textarea rows="2" type="text" placeholder="Enter Notes" class="form-control" id="newCodeNotes" maxlength="200"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary pull-right" type="button" data-dismiss="modal" onclick="Referrals.Create();"><strong>Save Code </strong></button>
            </div>
        </div>
    </div>
</div>

<!-- Input Mask-->
<link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
<script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Data Tables -->
<link href="~/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="~/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">

<script src="~/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="~/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="~/Scripts/App/ReferralCodes.js"></script>

<script>
    window.paceOptions = {
        ajax: {
            trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
        }
    };
</script>
<script src="~/js/plugins/pace/pace.min.js"></script>

<script>

    $(document).ready(function () {
        $("#ReferralsMaster").addClass('active');
    });

    $('#referralTable1').dataTable({
        responsive: true,
        "order": [[4, 'desc'], [5, 'desc'], [2, 'asc']],
        "paginate": false,
        "filter": false,
        "columnDefs": [
            { "orderable": false, "targets": [0] }
        ]
    });
    $('#referralTable2').dataTable({
        responsive: true,
        "order": [[4, 'desc'], [5, 'desc'], [2, 'asc']],
        "paginate": false,
        "filter": false,
        "columnDefs": [
            { "orderable": false, "targets": [0] }
        ]
    });

    $('#referralTable_allCodes').dataTable({
        responsive: true,
        "order": [[2, 'desc'], [3, 'desc'], [1, 'asc']],
        "columnDefs": [
            { "orderable": true, "targets": [0, 4] }
        ]
    });
	
    function showEditpopup(code, maxallowed) {
        $('#newCode').val(code.trim());
        $('#allowedUses').val(maxallowed.trim());
        $('#modalshowbutton').trigger( "click" );
        return false;
    }

</script>

