﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nooch | Admin Dashboard</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="icon" href="~/img/favicon.ico" />
    <script src="~/js/jquery-2.1.1.js"></script>
    <script>
          function sendRelinkEmail()
        {
            
              var url = "../Admin/SendReLinkEmail";
            
            $.post(url,  function (result) {
                console.log(result);
            });
        }
    </script>
</head>

<body>
 

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/img/profile_small.png" style="max-width:60px;" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">Cliff Canan</strong>
                                    </span><span class="text-muted text-xs block">Nooch Admin<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="~/Admin/SearchAdmin">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="~/Home/Logout">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            <span class="text-primary" style="font-size">n</span>
                        </div>
                    </li>
                    <li id="DashboardMenu">
                        <a href="~/Admin/Dashboard"><i class="fa fa-fw fa-th-large"></i><span class="nav-label"> Dashboard</span></a>
                    </li>
                    <li id="SendRelinkMail">
                        <a href="#"><i class="fa fa-fw fa-th-large"></i><span class="nav-label" onclick="sendRelinkEmail()"> Send Relink Email</span></a>
                    </li>
                    <li>
                        <a href="#" id="MemberMenuExpander"><i class="fa fa-fw fa-users"></i><span class="nav-label"> Members</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="ListAllMembersMenu">
                                <a href="~/Member/ListAll">All Members</a>
                            </li>
                            <li id="ListAllLandlordsMenu">
                                <a href="~/Member/ListAllLandlords">All Landlords</a>
                            </li>
                            <li id="ListAllLandlordsMenu">
                                <a href="~/Member/ListAllTenants">All Tenants</a>
                            </li>
                            <!--
                                   <li id="growthcharts">
                                       <a href="~/Member/GrowthGraphs">Growth Charts</a>
                                   </li>
                            -->
                        </ul>
                    </li>
                    <li id="DisputesMaster">
                        <a href="~/Disputes/ListAll">
                            <i class="fa fa-fw fa-warning"></i>
                            <span class="nav-label">  Disputes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="admintasks"><i class="fa fa-fw fa-users"></i><span class="nav-label"> Admin Tasks</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li id="searchAdmins"><a href="~/Admin/SearchAdmin"><i class="fa fa-fw fa-search"></i> Search Admins</a></li>
                            <li id="createAdmin"><a href="~/Admin/CreateAdmin"><i class="fa fa-fw fa-plus-circle"></i> Create Admin</a></li>
                            <li id="createFundToMem"><a href="~/Admin/CreditFundToMember"><i class="fa fa-fw fa-usd"></i> Pay A User</a></li>
                            <li id="adminofac"><a href="~/Admin/OFAC"><i class="fa fa-fw fa-bomb"></i> OFAC List</a></li>
                        </ul>
                    </li>
                    <li id="ReferralsMaster">
                        <a href="~/Referrals/Index" id="">
                            <i class="fa fa-fw fa-child"></i>
                            <span class="nav-label"> Referrals</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://support.nooch.com" target="_blank">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="nav-label"> Knowledge Base</span>
                        </a>
                    </li>
                    <li id="platformsMaster">
                        <a href="~/Platforms/Index" id="">
                            <i class="fa fa-fw fa-copy"></i>
                            <span class="nav-label"> Other Platforms</span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                        @* <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>*@
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <img src="~/img/nooch-logo.svg" id="top-nav-logo" />
                        </li>
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to the Nooch Admin Dashbaord</span>
                        </li>
                        @*<li class="dropdown">
                                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                        <i class="fa fa-envelope"></i><span class="label label-warning">16</span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-messages">
                                        <li>
                                            <div class="dropdown-messages-box">
                                                <a href="profile.html" class="pull-left">
                                                    <img alt="image" class="img-circle" src="~/img/a7.jpg">
                                                </a>
                                                <div class="media-body">
                                                    <small class="pull-right">46h ago</small>
                                                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>.
                                                    <br>
                                                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <div class="dropdown-messages-box">
                                                <a href="profile.html" class="pull-left">
                                                    <img alt="image" class="img-circle" src="~/img/a4.jpg">
                                                </a>
                                                <div class="media-body ">
                                                    <small class="pull-right text-navy">5h ago</small>
                                                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>.
                                                    <br>
                                                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <div class="dropdown-messages-box">
                                                <a href="profile.html" class="pull-left">
                                                    <img alt="image" class="img-circle" src="~/img/profile.jpg">
                                                </a>
                                                <div class="media-body ">
                                                    <small class="pull-right">23h ago</small>
                                                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>.
                                                    <br>
                                                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <div class="text-center link-block">
                                                <a href="mailbox.html">
                                                    <i class="fa fa-envelope"></i><strong>Read All Messages</strong>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i><span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i>You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="grid_options.html">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@

                        <li>
                            <a href="~/Home/Logout">
                                <i class="fa fa-sign-out"></i>Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

            @RenderBody()

            <div class="footer">
                <div class="pull-right">
                    Found a bug? Write to <a href="mailto:adminbugs@nooch.com" style="font-weight:bold;">AdminBugs@nooch.com</a>.
                </div>
                <div>
                    <strong>Copyright</strong> Nooch &copy; 2015
                </div>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/toastr/toastr.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <!-- EayPIE -->
    <script src="~/js/plugins/easypiechart/jquery.easypiechart.js"></script>

</body>
</html>
