﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/img/favicon.ico" />
    <title>Nooch Admin | Login</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="~/img/nooch-logo.svg" class="login-logo" />
            </div>

            <h2><strong>Nooch Admin Access</strong></h2>
            <p style="font-size:16px">Log in below:</p>
            <form class="m-t" role="form" id="logInform">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" placeholder="Username" id="Username" required="" maxlength="20">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" placeholder="Password" id="Password" required="" maxlength="20">
                </div>
                <button type="submit" class="btn btn-primary btn-lg block full-width m-b"><span class="fa fa-sign-in"></span>Login</button>

                @* <a href="#"><small>Forgot password?</small></a>
                    <p class="text-muted text-center"><small>Do not have an account?</small></p>
                    <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>*@
            </form>
            <p style="margin-top:40px;"><small>Nooch Inc. &copy; 2015</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/js/jquery-2.1.1.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/Scripts/App/Login.js"></script>

    <!-- Toastr script -->

    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <script>
        window.paceOptions = {
            ajax: {
                trackMethods: ['GET', 'POST', 'PUT', 'DELETE', 'REMOVE']
            }
        };</script>
    <script src="~/js/plugins/pace/pace.min.js"></script>

    <script type="text/javascript">

        $("#logInform").submit(function (e) {
            e.preventDefault();
            User.GoIn();
        });
    </script>

</body>
</html>